/**
* css www.free-counter.org
*/
.review-block {
    margin-top:0px;float:right; border-left:5px solid #fff; cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding: 0px 25px;
}
.review-block .desc, .review-registr .desc {
    font-size: 13px;
}
.review-block .title, .review-registr .title {
    margin-bottom: 8px;
}
.review-registr .title {
    margin-top: 5px;
}
.review-registr .desc {
    margin-bottom: 10px;
}
.review-registr {
    position: absolute;
    right: 0;
    margin-top:0px; border:1px solid #2ea2cc; cursor: pointer;
    border-radius: 5px;
    background: #ffffcb;
    text-align: center;
    font-size: 16px;
    padding: 0px 25px;
    bottom: 0px;
    margin-right: 60px;
    margin-bottom : 15px;
    box-shadow: 0 0 7px 3px rgba(90, 202, 242, 0.9);
}
.img-counter {
    cursor: pointer;
    border:2px solid #d2d2d2;
    width: 150px;
    height: 50px;
    text-align: center;
    display: table-cell;
    vertical-align:middle;
}

.img-counter:hover {
    border: 2px solid #7acaf7;
    text-align: center;
}

.img-counter-active {
    border: 2px solid #3b3b3b;
    width: 150px;
    height: 50px;
    text-align: center;
    display: table-cell;
    vertical-align:middle;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.9) inset;
}

.color_image {
    display:none;
}

.image_counter_table td {
    width: 150px;
    text-align: center;
}

.stat_block {
    text-align: center;
}

.stat_title {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 20px;
}

.stat_all {
    display: inline-block;
}

.table_stat {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;
    border-collapse:separate;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

.stat {
    width: 200px;
}

.table_stat th {
    font-weight:bold;
    padding:11px 15px 12px 15px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

.table_stat th:first-child{
    text-align: left;
    padding-left:20px;
}

.table_stat tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}

.table_stat tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}

.table_stat tr{
    text-align: center;
    padding-left:20px;
}

.table_stat tr td:first-child{
    text-align: left;
    padding-left:5px;
    border-left: 0;
}

.table_stat tr td {
    padding:3px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

.table_stat tr.even td{
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

.table_stat tr:last-child td{
    border-bottom:0;
}

.table_stat tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}

.table_stat tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}

.table_stat tr:hover td{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);    
}

.table_stat a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}

.table_stat a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}

.table_stat a:active,
.table_stat a:hover {
    color: #bd5a35;
    text-decoration:underline;
}

.inline {
    float:left;
    margin-left: 15px;
    margin-top: 15px;
}

.hidden-class {
    padding: 10px;
    border: 1px solid #bd5a35;
    font-size: 9px;
    width: 50px;
}

.w-1 {
    width: 5%; 
}
.w-2 {
    width: 13%; 
}
.w-3 {
    width: 7%; 
}
.w-4 {
    width: 30%;
}
.moovdiv {

}
.moovdiv div.div-stats {
    font-size:14px;
    font-weight: bold;
    color: #585a5c;
    padding:10px 2px;
}
.moovdiv div.col-row{
    float:left;
    margin-right: 15px;
    border:1px solid #fff;
}
.table-stat-moovdiv {
    background: none repeat scroll 0 0 #FFFFFF;
    border-spacing: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    left: 0px;
    margin-top: 0;
    padding: 10px 15px;
    top: 0px;
    width: 400px;
}

.table-stat-moovdiv tr td{
    border-right: 0px;    
    margin-bottom: 1px;
    margin-top: 1px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-bottom:1px solid #D6D6D6;
    padding: 5px;
}
div.progress {
    overflow: hidden;
    left: 1px;
    width: 200px;
    height: 15px;
    border: 1px solid #2db0aa;
    background: #dffffe;
    margin:0;
    padding: 0;
}
div.progress_load {
    height: 13px;
    border: 1px solid #dffffe;
    background: #2db0aa;
    margin:0;
    padding: 0;
    z-index: 999;
}
#page_item {
    margin-bottom:3px;
    float:left;
}
.block-export {
    float: right;
    margin-right: 20px;
}
.info {
    width: 70%;
    border: 0;
}
.info tr td{
    border: 0;
    padding: 2px;
}
.form-account {
    margin-top: 30px;
    margin-bottom : 40px;
    border:5px solid #fff;
    background: #ffffa5;
    padding: 10px;
    height: auto;
    overflow:hidden;
    position: relative;
}
.form-account-title {
    margin-bottom: 20px;
    font-size: 22px;
}
.form-account-block {
    margin-left: 20px;
    float:left;
    width: 40%;
    position: relative;
}
.form-account-login {
    margin-top: 10px;
    margin-bottom : 40px;
    border:5px solid #fff;
    background: #ffffa5;
    padding: 3px;
    height: auto;
    overflow:hidden;
}

.form-account-block-login {
    margin-left: 10px;
    width: 90%;

}
.form-account-info {
    float:left;
    width: 50%;
    margin-left: 20px;
}
.b_2 {
    background: url("button_ok.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #464646;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    left: 12px;
    padding-left: 30px;
    top: 60px;
    padding-top: 4px;
    padding-bottom : 5px;
}
.b-3 {
    font-size: 22px;
}
.form-account-button {
    margin-top: 21px;
}
.label-form {
    margin-left: 6px;
    font-size: 16px;
}
.last {
    line-height: 18px;
    margin-top: 9px;
}
.moovdiv span.title-row {
    font-size: 14px;
    margin: 8px;
    text-align: left;
}

@media only screen and (max-width: 758px) {
/*
vertical tablet computer
*/
.moovdiv span.title-row {
font-size: 11px;
margin:3px;
}
}
@media only screen and (max-width: 524px) {
/*phone*/
.moovdiv span.title-row {
font-size: 5px;
text-align:center;
padding:2px;
}
}
@media only screen and (max-width: 960px) {
/*
tablet
*/
.moovdiv span.title-row {
font-size: 7px;
padding:4px;
}
}